*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hp2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(40% 70%);
    /* border: 1px solid grey; */

}
h1{
    font-size: 34px;
}
#img1{
    width: 200%;
}
#sec1{
    /* border: 1px solid; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-right: 10%;
}
/* #sec1 div{
    border: 1px solid;
} */
#sec1 h2{
    color: rgb(6, 191, 191);
}
#sec1 h3{
    color: grey;
    margin-top: -40px;
}
.sec2{
    color: rgb(6, 191, 191);
}
#size{
    font-size: 24px;
}
.sec2 ~ button{
    background-color: rgb(16, 194, 194);
    color: white;
    border: transparent;
    border-radius: 4px;
    height: 55px;
    width: 50%;
    font-size: 20px;
}
.sec2 ~ h3{
    color: rgb(16, 194, 194);
}